<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Link Tree Landing Page</title>
<meta name="description" 
content="A link tree landing page for decentralized websites">
<link rel="image" type="image/x-icon" href="./assets/link-favicon.ico">
<link rel="stylesheet" href="styles.css">
</head>
<!-- Update background-image and styles -->
<body style="background:url(assets/pink-sky.png);background-repeat:no-repeat;background-size:cover;background-position:center"> 
    <div class="header">
        <!-- Update Image and Styles-->
        <img src="assets/lesley-red.png" alt="profile-pic" width="150px" height="150px" 
        style="background-color:rgb(53, 53, 53);border-radius:50%;border:1px solid coral"> 
        <!-- Update Colors and Text Values -->
        <h1 style="background-color:rgba(71, 71, 71, 0.856);color:black;border:2px dotted black;text-shadow:3px 3px 3px rgb(252, 74, 74)">Lesley-Nicole</h1>
        <!-- Update Colors and Text Values -->
        <p style="color:rgb(255, 255, 255);text-shadow:2px 2px 2px rgb(255, 33, 4)"><b>WEB DEVELOPER</b></p> 
      </div>
   
      <div class="navbar">
          <!-- Update Color and Text Values -->
          <h2 style="color:rgb(255, 224, 224);">MY SOCIAL NETWORKS</h2>
          <!-- Update colors, styles and Linkedin href -->
        <a href="#" target="_blank" style="background-color:rgba(253, 105, 60, 0.705);color:rgb(0, 0, 0);border:1px solid coral;"><b>LINKEDIN</b></a>
        <!-- Update colors, styles and Twitter href -->
        <a href="#" target="_blank" style="background-color:rgba(253, 105, 60, 0.705);color:rgb(0, 0, 0);border:1px solid coral;"><b>TWITTER</b></a>
        <!-- Update colors, styles and Facebook href -->
        <a href="#" target="_blank" style="background-color:rgba(253, 105, 60, 0.705);color:rgb(0, 0, 0);border:1px solid coral;"><b>FACEBOOK</b></a> 
        <!-- Update colors, styles and  Instagram href -->
        <a href="#" target="_blank" style="background-color:rgba(253, 105, 60, 0.705);color:rgb(0, 0, 0);border:1px solid coral;"><b>INSTAGRAM</b></a>
        <!-- Update colors, styles and Telegram href -->
        <a href="#" target="_blank" style="background-color:rgba(253, 105, 60, 0.705);color:rgb(0, 0, 0);border:1px solid coral;"><b>TELEGRAM</b></a> 
        <!-- Update font color and/or Text Values -->
        <h2 style="color:rgb(255, 224, 224);"><b>MY BLOG</b></h2>
        <!-- Update colors, styles and Medium href -->
        <a href="#" target="_blank" style="background-color:rgba(197, 32, 175, 0.658);color:rgb(0, 0, 0);border:1px solid rgb(249, 80, 255)"><b>MEDIUM</b></a>
        <!-- Update font color and/or Text Values -->
        <h2 style="color:rgb(255, 224, 224);"><b>MY CV</b></h2>
        <!-- Update colors, styles and CV href -->
        <a href="#" target="_blank" style="background-color:rgba(250, 59, 104, 0.63);color:rgb(0, 0, 0);border:1px solid rgb(253, 142, 161)"><b>CURRICULUM VITAE</b></a>
        <!-- Update colors, styles and Github href -->
        <a href="#" target="_blank" style="background-color:rgba(250, 59, 104, 0.63);color:rgb(0, 0, 0);border:1px solid rgb(253, 142, 161)"><b>GITHUB</b></a>
        <!-- Update font color and/or text values -->
        <h2 style="color:rgb(255, 224, 224);"><b>MY BUSINESS</b></h2>
        <!-- Update Business href, colors and styles -->
        <a href="#" target="_blank" style="background-color:rgba(253, 105, 60, 0.705);color:rgb(0, 0, 0);border:1px solid coral;"><b>BUSINESS</b></a>
      </div> 

        <!-- Update colors and form action -->
      <form action="#" style="background-color:rgba(0, 0, 0, 0.534);border:2px dotted black">
          <!-- Update font color and text -->
          <h2 style="color:rgb(253, 160, 160)">Subscribe for the latest news and content.</h2>
          <input type="email" placeholder="Enter email..." required><br>
          <!-- Update colors -->
          <button type="submit" style="background-color:lightcoral;border:1px solid coral;color:black"><b>SUBSCRIBE</b></button>
      </form> 
       <!-- Update href and img src -->
      <footer>
          <a href="https://lesley-nicole.github.io" target="_blank">
              <img src="assets/myname.svg" alt="author" width="50%">
          </a> 
      </footer>  
</body>
</html>